:root {
	--arcade: rgb(244, 255, 37);
	--ds: rgb(36, 116, 255);
	--gbasp: rgba(209,209,209,1.0);
	--gbc: rgba(73,71,134,1.0);
	--gc: rgb(124, 23, 191);
	--gen: rgba(23,86,155,1.0);
	--ios: rgba(238,238,238,1.0);
	--n64: rgba(75,82,88,1.0);
	--nes: rgba(193,18,28,1.0);
	--ns: rgba(0,195,227,1.0);
	--pc: rgb(251, 146, 34);
	--ps1: rgba(128,128,128,1.0);
	--ps2: rgba(64,63,63,1.0);
	--ps3: rgba(42,42,42,1.0);
	--ps4: rgba(22,22,22,1.0);
	--snes: rgba(167,164,224,1.0);
	--wii: rgba(255,255,255,1.0);
	--wiiu: rgba(0,154,199,1.0);
	--x360: rgba(155,200,72,1.0);
	--xb1: rgba(16,124,16,1.0);
	--xbox: rgba(14,122,13,1.0);
	--xsx: rgb(0, 206, 24);
}

body {
	margin: 0;
	padding: 0;
}

h2,
h3 {
	text-align: center;
	width: 100%;	
}

header {
	background-color: rgb(5, 22, 48);
	color: white;
	font-size: 24px;
	padding: 10px;
	text-align: center;	
}

.gameList {
	display: grid;	
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.game {
	align-items: center;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	padding: 10px;
	background: #dfedee;
	
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #fff inset,
				-1px -1px 2px #fff inset;
	border-radius: 3px/6px;   
}

.categoryGames,
.consoleGames,
.rankGames,
.pubDateGames {
	margin-top: 20px;
	width: 100%;
}

.title {	
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

#buttons,
.categoryBox,
.rankBox,
.pubBox,
.consoleBox {	
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#dataSelection,
#categorySelection,
#consoleSelection,
#rankSelection,
#pubDateSelection {
	font-size: 16px;
	padding: 5px 10px;
}

#mainLabel {
	font-size: 20px;
}


